/* For small devices  */
@media only screen and (max-width: 576px) {
    .container,
    .sponsor-detail {
        width: 95%;
    }
    nav,
    .quick-feature-contents,
    .feature-contents,
    .fact-contents,
    .foot-contents {
        flex-direction: column;
    }
    .hero-contents {
        max-width: 100%;
    }
    .fact-detail {
        width: 95%;
        margin-bottom: 5rem;
    }
    .sponsor-company {
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        text-align: center;
    }
    
}

/* For Medium devices */
@media only screen and (min-width: 576px) and (max-width: 992px) {
    .container {
        width: 95%;
    }
    nav,
    .feature-contents {
        flex-direction: column;
    }
    .hero-contents {
        max-width: 100%;
    }
    .fact-contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

}