/* Reset style  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
}

/* Common style */
.container {
    width: 75%;
    max-width: 144rem;
    margin: 0 auto;
}
section {
    padding-bottom: 10rem;
}
h3 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
p {
    font-size: 1.6rem;
    color: #727272;
    line-height: 2.6rem;
}
.btn {
    display: block;
    background: #FF900E;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    border: none;
    transition: .3s ease;
}
.btn:hover {
    cursor: pointer;
    background: #d17307;
}

/* Header Design  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
nav ul {
    display: flex;
    list-style: none;
}
nav h3 a {
    text-decoration: none;
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
nav ul a {
    display: block;
    text-decoration: none;
    color: #424242;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: .3s ease;
}
nav ul a:hover {
    color: #000;
}

/* Hero section  */
.hero-contents {
    max-width: 60%;
    margin: 3rem auto;
    text-align: center;
}
.hero-contents h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.hero-contents .btn {
    margin: 1rem auto;
}
.hero-image img {
    width: 100%;
}

/* Quick feature section  */
.quick-feature-contents {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.quick-gellary {
    flex-basis: 48%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.quick-gellary img {
    width: 100%;
}
.quick-detail {
    flex-basis: 48%;
}
.quick-detail h3, p {
    margin-bottom: 1.5rem;
}

.quick-detail .first {
    font-size: 4rem;
    color: #727272;
}
.quick-detail .last {
    font-size: 4rem;
    color: #FF900E;
}

/* Feature section  */
.feature-contents {
    display: flex;
    justify-content: space-between;
}
.feature-details {
    flex-basis: 48%;
}
.feature-img {
    flex-basis: 48%;
}
.feature-img img {
    width: 100%;
    height: 94%;
}
.feature-heading {
    margin-bottom: 3rem;
}
.feature-heading h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    border-left: .3rem solid #FF900E;
    padding-left: 1rem;
}
.feature-item {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0rem .2rem .5rem .1rem rgba(0, 0, 0, 0.1);
    transition: .3s ease;
}
.feature-item:hover {
    box-shadow: 0rem .2rem .5rem .1rem rgba(108, 145, 245, 0.3);
}
.feature-item h4 {
    color: #131313;
    font-size: 2rem;
}
.feature-img .btn {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    top: -5rem;
    left: -2rem;
}
.feature-img .btn span {
    font-size: 1.6rem;
    font-weight: normal;
}

/* Some facts  */
.fact-detail {
    width: 55%;
    margin-bottom: 5rem;
}
.fact-detail h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.fact-contents {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
}
.single-fact {
    flex-basis: 20%;
    border: .1px solid #FF900E;
    padding: 2rem;
}
.single-fact .value {
    font-size: 3rem;
    color: #424242;
    font-weight: 600;
    margin: 1.5rem 0;
}
.single-fact h5 {
    font-size: 1.6rem;
    color: #727272;
}

/* sponsor section  */
.sponsor-detail {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.sponsor-detail h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.sponsor-company {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.sponsor-company img {
    width: 10rem;
}

/* Footer section  */

footer {
    background: rgba(255, 144, 14, 0.10);
}
.foot-contents {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-contents p {
    font-size: 1.2rem;
    margin: 0;
}